{% extends "layout.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h1>Welcome, {{ user.name }}!</h1>
    <button onclick="toggleForm('addCoinForm')">Add Coin</button>

    <form id="addCoinForm" style="display:none;" onsubmit="submitCoin(event)">
        <label>Name: <input type="text" id="coin-name" required /></label>
        <label>Description: <input type="text" id="coin-description" required /></label>
        <button type="submit" id="submit-btn">Submit</button>
        <button type="button" onclick="toggleForm('addCoinForm')">Cancel</button>
    </form>

    <p id="form-status" class="status-message"></p>

    <h2>Your Coins:</h2>
    {% for coin in coins %}
        <div class="coin">
            <h3>{{ coin.name }}</h3>
            <button id="delete-btn-{{ coin.id }}" onclick="deleteCoin('{{ coin.id }}', this)">Delete</button>
            <p id="delete-status-{{ coin.id }}" class="status-message"></p>
            <button onclick="toggleForm('editCoinForm-{{ coin.id }}')">Edit</button>
            
            <form id="editCoinForm-{{ coin.id }}" style="display:none;" onsubmit="submitEditCoin(event, '{{ coin.id }}')">
                <label>Name: <input type="text" id="edit-coin-name-{{ coin.id }}" value="{{ coin.name }}" /></label>
                <label>Description: <input type="text" id="edit-coin-description-{{ coin.id }}" value="{{ coin.description }}" /></label>
                <button type="submit" id="edit-submit-btn-{{ coin.id }}">Save</button>
                <button type="button" onclick="toggleForm('editCoinForm-{{ coin.id }}')">Cancel</button>
            </form>

            <p id="edit-status-{{ coin.id }}" class="status-message"></p>
            <p>{{ coin.description }}</p>
            {% for duty in coin.duties %}
            <h4>{{ duty.name }}</h4>
            <p>{{ duty.description }}</p>
            {% endfor %}
            <label>
                <input 
                    type="checkbox" 
                    data-coin-id="{{ coin.id }}"
                    data-status-id="status-{{ coin.id }}"
                    {% if coin.complete %}checked{% endif %}
                    onchange="toggleComplete(this)"
                />
                Complete
            </label>
            <p  id="status-{{ coin.id }}" class ="status-message"></p>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
<script>
    const API_URL = "{{ api_url }}";
</script>
<script src="{{ url_for('static', filename='js/ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/coins.js') }}"></script>
{% endblock %}